*{
    /* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgray; 
}
}
.app {
  text-align: center;
  outline: 2px solid red;
  margin: 5px 10px ;
  max-width: 99vw;
  overflow-wrap: break-word;
  overflow: hidden;
}


