.nav {
    height: fit-content;
    max-width: fit-content;
    outline: 2px solid blue;
    left: 0px;
    right: 0px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    font-size: medium;
    gap: 2rem;
    .logo {
        left: 0px;
        right: 0px;
        margin: auto;
    }
    .nav-elements{
        font-weight: 600;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        align-items: center;
        gap: 2rem;
        color: #000;

        .link {
            text-decoration: none;
            color: #000;
            cursor: pointer;
        }

    }
    .icons {
        display: flex;
        gap: 2rem;
        padding: 0 12px;
        font-size: 28px;
        align-items: center;
        display: flex;
        
        .cart{
            //outline: 1px solid red;
            display: flex;
            cursor: pointer;
            gap: 0;
            span {
                //outline: 1px solid red;
                font-size: 16px;
                display: flex;
                align-items: top;
                margin-top: -10px;
                background: rgba($color: #000000, $alpha: 0.9); 
                height: 20px; 
                width: 20px;
                align-items: center;
                justify-content: center;
                color: #fff;
                border-radius: 50%;
                font-weight: 300;
                margin-left: -5px;
            }

        }
        
    }

}

@media only screen and (max-width: 1024px) {
    .nav{
        gap: 0.2rem;
        font-size: small;
        .nav-elements{
            gap: 1rem;
        }
    }
  }
@media only screen and (max-width: 600px) {
    .nav{
        display: none;
    }
  }